.todo-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.todo-text {
  margin-left: 16px;
  font-size: 32px;
  color: gray;
}

.todo-time {
  margin-left: auto;
  font-size: 32px;
  color: gray;
}

.delete-button {
  margin-left: 32px;
}

.delete-this-todo {
  font-size: 32px;
  border-radius: 30px;
  min-width: 96px;
  border: none;
  background-color: rgb(255, 163, 183);
  color: white;
  cursor: pointer;
}
